@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --blue: #2e7bff;
    --blue-100:  color-mix(in srgb, var(--blue), #fff 30%);
    --defalt-gap: .8rem;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--blue);
}

/* -------------------- SCREEN ERROR -------------------- */

.screen-error {
    position: fixed;
    top: -8rem;
    right: 1rem;
    display: flex;
    align-items: center;
    column-gap: .8rem;
    border-radius: 10px;
    padding: .5rem 1rem;
    font-size: 1.8rem;
    font-weight: 500;
    transition: top 150ms ease-in-out;
    color: #ffbfaa;
    background-color: #ea0000;
}

.btn-error {
    aspect-ratio: 1;
    width: 4.5rem;
    height: 5.2rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #ffbfaa;
}

.btn-error:focus {
    outline: 2px solid color-mix(in srgb, #fff, transparent 50%);
}

.btn-error > i {
    font-size: 2.2rem;
    color: #ea0000;
}

/* -------------------- FORM-WEATHER -------------------- */

.container-weather {
    display: flex;
    flex-direction: column;
    row-gap: var(--defalt-gap);

    box-sizing: border-box;
    width: fit-content;
    /*width: clamp(28rem, 35rem, 35rem);*/
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 4px 4px 8px rgb(0 0 0 / .3);
    background-color: #fff;
}

.form-weather {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}   

.input-weather,
.submit-weather {
    position: relative;
    font-size: 1.65rem;
    overflow: hidden;
}

.tag-location,
.tag-glass {
    position: absolute;
    top: 1.2rem;
    transition: left 125ms ease-in-out;
}

.tag-location { left: .6rem; }
.tag-glass { left: .8rem; cursor: pointer; }

#inWeatherCity {
    width: clamp(25rem, 25rem, 25rem);
    padding: 0 .8rem;
}

#inWeatherCity::placeholder {
    font-size: 1.45rem;
    color: #888;
    text-indent: 2rem;
}

#submitWeatherCity {
    width: 3.5rem;
    cursor: pointer;
}

#inWeatherCity,
#submitWeatherCity {
    box-sizing: border-box;
    height: 4rem;
    border: none;
    border-radius: 8px;
    background-color: #ddd;
}

#inWeatherCity:focus,
#submitWeatherCity:focus {
    outline: 2px solid var(--blue);
    outline-offset: -2px;
}

.result-weather {
    display: flex;
    flex-direction: column;
    row-gap: calc(var(--defalt-gap) + .2rem);
    width: 35rem;
    user-select: none;
}

.result-weather > .name-city {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
}

.result-temp {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 6rem;
    border-radius: 5px;
    background-color: var(--blue-100);
}

.temp {
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
}

.description {
    font-size: 1.5rem;
    text-transform: capitalize;
    color: #fff;
}

.result-temp > .weather {
    display: flex;
    flex-direction: column;
    max-width: 15rem;
}

.other-information {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--defalt-gap) + 1rem) 6rem;
    justify-content: flex-start;
    margin-left: .5rem;
}

.other-information > div {
    display: flex;
}

.other-information div img {
    width: 6rem;
}

.other-information div .text {
    font-size: 1.4rem;
    font-weight: 600;
}

.other-information div .text p {
    margin: .5rem 0 1rem;
}

.other-information div .text span {
    font-size: 1.8rem;
}

.other-information .umidade img {
    width: 4.8rem;
    height: 4.8rem;
    margin: 1rem 1rem 0 .6rem;
}

.vento {
    margin-left: 1rem;
}

.vento img {
    box-sizing: border-box;
    padding: .65rem;
    margin-right: .4rem;
}